<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default card</title>
</head>
<body>
    <a href="#"class="block mx-auto max-w-sm p-5 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">LimeFibre</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Welcome to the best Internet service Provider in the Environs of Nairobi.
            we take pride in offering the best connection you could ever have.
        </p>
    </a>
    
</body>
</html>