<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizontal Card</title>
</head>
<body>
    <a href="" class="flex mx-auto my-14 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img src="/img/download.png" class="object-cover w-full rounded t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" alt="Lime Logo">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">LimeFibre</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">We pride ourselves as the best internet service providers within the environs of Nairobi.Hit us up to get connnected</p>
        </div>
    </a>
    
</body>
</html>