<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pill Tabs</title>
</head>
<body>
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        <li class="my-4 mx-3">
            <a href="#" class="inline-block px-4 py-3 text-white bg-blue-600 rounded-lg active" aria-current="page">First</a>
        </li>
    </ul>
    
</body>
</html>