<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/output.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default tooltip</title>
</head>
<body>
    
    <!--requires javascript-->
    <button data-tooltip-target="tooltip-default" type="button" class="my-10 mx-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:hover:bg-blue-700 dark:focus:ring-blue-800">Default tooltip</button>
        <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity-duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            This is a button
        </div>
        <script src="../node_modules/flowbite/dist/flowbite.js"></script>
</body>
</html>